<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- GPS poloha pro záznam místa nabíjení -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--
        Android 11+ (API 30): aplikace musí deklarovat intent filtry pro packagey,
        na které se ptá přes queryIntentActivities / resolveActivity.
    -->
    <queries>
        <!-- Pro přímé spuštění Gmailu -->
        <package android:name="com.google.android.gm" />
        <!-- Pro záložní chooser – jakákoliv emailová aplikace schopná ACTION_SEND+ZIP -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="application/zip" />
        </intent>
        <!-- Pro otevření GPS souřadnic v mapové aplikaci -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>

    <application
        android:name=".ChargingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EVNabijeni">

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.addedit.AddEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.main.DetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />

        <!--
            FileProvider sdílí soubory z cacheDir/exports/ pro email přílohy.
            authorities musí odpovídat packageName použitém v kódu (${packageName}.fileprovider).
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
